#localStream {
    width: 100%;
    margin-top: 2em;
}

#remoteStream {
    width: 100%;
    margin-top: 2em;
}

.sectionCall, .sectionUser {
    margin: 2em 0;
}

#remoteId, #userName {
    margin-top: 2em;
}

#btnSignUp {
    margin-top: 2em;
}